@import "./../node_modules/react-input-range/src/scss/index";

.input-range {
  margin: 8rem 0;
}

.input-range__label {
  top: -5rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
}

.input-range__slider {
  background-color: #676767;
  width: 1rem;
  height: 2rem;
  margin-top: -1.1rem;
  border-radius: inherit;
  border-color: transparent;
}

.input-range__track--active {
  background-color: transparent;
}

.input-range__label--min, .input-range__label--max {
  display: none;
}

.custom-label {
  padding: 1rem;
}